* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 100%;
}

.icon-items {
  font-size: 1.2em;
  color: #b1b1b1;
}

/* background main-wrapper */
.main-wrapper {
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, #009688 18%, #d8dbd5 18%);
  font-family: 'Roboto', sans-serif;
}


/* chat main-wrapper */
.chat-main-wrapper {
  display: flex;
  flex-flow: column;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 98%;
  margin: auto;
  background-color: #eaeaea;
}

.chat-list-container {
  width: 32%;
  height: 100%;
  border-right: solid 1px #d6d6d6;
  min-width: 340px;
}

/* navigation bar */
.profile-img {
  width: 64px;
  height: 64px;
}

.upper-manager-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 6px 14px;
}

.profile-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.notification {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #8edafc;
  padding: 6px 20px;

}
.icon-ring {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  color: #8edafc;
  background-color: #FFF;
  text-align: center;
  line-height: 60px;
  margin-right: 6px;
}

.notification-banner {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  /* color: #5b889d; */
  font-size: 0.9em;
}

/* device > 900px */
@media screen and (min-width: 900px){
  .chat-main-wrapper {
    width: 84%;
}
