* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 100%;
}

a {
  color: #5b889d;
}

input {
  border: none;
}

ul {
  list-style: none;
}

.icon-items,
.icon {
  font-size: 1.2em;
  color: #b1b1b1;
}

/* background main-wrapper */
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #009688 18%, #d8dbd5 18%);
  font-family: 'Roboto', sans-serif;
}


/* chat main-wrapper */
.chat-main-wrapper {
  display: flex;
  width: 100%;
  height: 96%;
  margin: auto;
  background-color: #eaeaea;
}

.chat-list-container {
  width: 32%;
  height: 100%;
  border-right: solid 1px #d6d6d6;
  min-width: 340px;
}

/* navigation bar */
.profile-img {
  width: 54px;
  height: 54px;
}

.profile-manager {
  height: 132px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 6px 14px;
  height: 66px;
}

.header-tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.notification {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #8edafc;
  padding: 6px 20px;
  height: 66px;

}
.icon-ring {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  color: #8edafc;
  background-color: #FFF;
  text-align: center;
  line-height: 54px;
  margin-right: 6px;
}

.notification-banner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 0.9em;
}


/* chat list */
.search-bar-wrapper {
  padding: 6px;
  background-color: #fafafa;
  height: 49px;
}
.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  padding: 0 12px;
}

.search-input {
  padding: 10px;
  width: 94%;
}

.opened-chat-wrapper {
  background-color: #FFF;
  overflow: auto;
  height: calc(100% - 49px);
}

.chat-list > li{
  display: flex;
  direction: row;
  padding: 6px 14px;
  align-items: center;
}
.chat-list-wrapper,
.chat-windows {
  height: calc(100% - 132px);
}

.chat-list-item {
  position: relative;
  width: 86%;
  padding-left: 14px;
}
.chat-list li {
  border-bottom: 1px solid #f5f5f5;
}
.name {
  font-weight: 500;
  padding-bottom: 6px;
}

.chat-preview,
.timestamp {
 color: #b6b9bb;
}

.timestamp {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8em;
}

.chat-window-container {
  width: calc(100% - 32%);
}

.chat-infos {
  display: flex;
  align-items: center;
}
.infos {
  margin-left: 6px;
}

.last-seen {
  font-size: 0.8em;
  color: #6c7376;
}

.chat-windows {
  background-image: url('../img/mine.jpg');
  overflow: auto;
}

.icon {
  font-size: 1.4em;
  color: #6b7376;
}

.send-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 66px;
  padding: 0 16px;
}
.send-text {
  padding: 14px;
  border-radius: 5px;
  width: 84%;
}

.sent-messages li > span {
  display: inline-block;
  padding: 12px 10px;
  margin: 2px 18px;
  border-radius: 10px;
  width: inherit;
  max-width: 50%;
}
.contatto span {
  background-color: #FFF;
}

.io {
  display: flex;
  justify-content: flex-end;
}

.io span {
  background-color: #d5f9ba;
}

.chat-windows-template {
  display: none;
}

/* device > 900px */
@media screen and (min-width: 900px){
  .chat-main-wrapper {
    width: 84%;
}
